name: Pre-commit

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
          owner: ggoggam
          repositories: shadcn-treeview

      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref || github.ref_name }}
          token: ${{ steps.app-token.outputs.token }}

      - uses: jdx/mise-action@v3

      - uses: actions/cache@v5
        with:
          path: |
            ~/.cache/pre-commit
            ~/.bun/install/cache
            node_modules
          key: pre-commit-${{ runner.os }}-${{ hashFiles('.pre-commit-config.yaml', 'bun.lock') }}
          restore-keys: |
            pre-commit-${{ runner.os }}-

      - run: bun install --frozen-lockfile

      - name: Run pre-commit checks
        run: |
          pre-commit run \
            --show-diff-on-failure \
            --color=always \
            --all-files \
            --hook-stage=manual

      - uses: stefanzweifel/git-auto-commit-action@v7
        if: ${{ ! cancelled() }}
        with:
          commit_message: "style: auto-fix formatting"
